{% extends "base.html" %} 
 {% block content %}
 <title>NonNSHFilter结果</title>
 <div class="container">
 <form action="http://{{local}}/PostCalcXmer/" method="POST" role="form" class="form-horizontal" >{% csrf_token %}
 <div class="list-group">
    <a href="#" class="list-group-item active">
         <span class="badge">
            引物编号
        </span>
        <h4 class="list-group-item-heading">
            可用的引物索引列表
        </h4>
    </a> 
 {% for key,value in probedict.items %}
    <a class="list-group-item">
    <span class="badge pull-right">
    {{key}}
    </span>
      <input type="text" readonly="readonly" style="width:50%" class="form control" value="{{value.0}}" name="probedictvalue">
      <input type="hidden" readonly="readonly" style="width:20%" class="form control" value="{{key}}" name="probedictkey">
      <input type="hidden" readonly="readonly" style="width:20%" class="form control" value="{{value.1}}" name="probelength">
    </a>
{% endfor %}
</div>
<button type="submit" class="btn btn-primary" style="text-shadow: black 5px 3px 3px;"><span class="glyphicon glyphicon-step-forward"></span>与通用序列计算Xmer值</button>
</form>
</div>
 <!-- /#mainWrap -->
{% endblock %}