{% extends "base.html" %} 
 {% block content %}
 <title>X4merCalculate结果</title>
<script>
 function checkForm()  
{  
       var t1 = document.getElementById("Plist").getElementsByTagName("input");  
       for(i=0;i<t1.length;i++)  
       {  
           if(t1[i].type == "checkbox")  
           {  
               if(!(t1[i].checked))  
               {  
                   t1[i].checked = true;  
                   t1[i].value = "0";  
               }  
           }  
       }  
       return true;  
}  
</script>
<style></style>
<div class="panel panel-info">
<div class="panel-heading">
        <b>根据Xmer值选择引物作为适合的功能区</b>
</div>
<div class="container" style="padding:20px;height:auto;" >
<form action="http://{{local}}/ProbeSetsXmer/" method="POST" id="Plist" role="form" class="form-horizontal" >{% csrf_token %}

<table class="table table-condensed"  style="padding:20px;height:auto;">
  <caption><b>探针X4mer与通用序列的比对计算结果</b></caption>
  <thead>
    <tr>
      <th>探针编号</th>
      <th>作为CE的x4mer值</th>
      <th>作为LE的x4mer值</th>
      <th>CE单选框</th>
      <th>LE单选框</th>
      <th>BL单选框</th>
      <th>GC含量</th>
      <th>只能选做一种</th></tr>
  </thead>
  <tbody>
  {% for pxl in probe_xmer_list %}
    <tr>
      <td>
      <label for="pkey" class="control-label">{{pxl.0}}</label>
      <input type="hidden" style="width:25%" class="form control" name="pkey" value="{{pxl.0}}" readonly="readonly"/>
      </td>
      {% if pxl.1.0.0 > 26 or pxl.1.3 > 70 %}
      <td><font color="red"><b>{{pxl.1.0.0}}</b></font></td>
      {% else %}
      <td>{{pxl.1.0.0}}</td>
      {% endif %}
       {% if pxl.1.0.1 > 16 or pxl.1.3 > 70 %}
      <td><font color="red"><b>{{pxl.1.0.1}}</b></font></td>
      {% else %}
      <td>{{pxl.1.0.1}}</td>
      {% endif %}
      {% if pxl.1.0.0 > 26 or pxl.1.3 > 70 %}
      <td><label class="checkbox-inline"><input type="hidden" onclick="return false" name="CEcheck" value="NCE"></label></td>
      {% else %}
      <td>
      <label class="checkbox-inline"><input type="checkbox" checked id="CEcheck" name="CEcheck" value="CE">CE</label>
      
      </td>
     {% endif %}
     {% if pxl.1.0.1 > 16 or pxl.1.3 > 70 %}
      <td><label class="checkbox-inline"><input type="hidden" onclick="return false" name="LEcheck" value="NLE"></label></td>
      {% else %}
      <td>
      <label class="checkbox-inline"><input type="checkbox" checked id="LEcheck" name="LEcheck" value="LE">LE</label>
      
      </td>
      {% endif %}  
      <td>
      <label class="checkbox-inline"><input type="checkbox" checked id="BLcheck" name="BLcheck" value="BL">BL</label>
      
      </td>
      {% if pxl.1.3 > 70 %}
      <td><font color="red"><b>{{pxl.1.3}}%</b></font></td>
      {% else %}
      <td>{{pxl.1.3}}%</td>
      {% endif %}
      <td><input type="hidden" style="width:0" class="form control" name="pseq" value="{{pxl.1.2}}" readonly="readonly"/></td>
    <tr>
   {%endfor%}
  </tbody>
</table>
 <div class="panel panel-active" style="margin:20px;">
 <button type="submit" onclick="checkForm();" class="btn btn-primary" style="text-shadow: black 5px 3px 3px;"><span class="glyphicon glyphicon-step-forward"></span>计算选定的各组探针间的x-mer值</button>
 </div>
 </div>
 </form>
 </div>
  <!-- /#mainWrap -->
{% endblock %}